.root_div
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E6E6FA;
    height: 80px;
}
.div_1
{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}
.search_form
{
    display: flex;
    height: 100%;
    width: 75%;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 0.7rem;
}
.searchBar
{
    width: 70%;
    height: 50%;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    font-size: 12pt;
    text-indent: 5%;
}
.searchBar:focus
{
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.searchButton
{
    height: 50%;
    width: 40px;
    border-style: none;
    border-radius: 50%;
    background: transparent;
}
.searchButton:hover
{
 background-color:rgb(235, 221, 249);
}
.div_2
{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}
.links
{
    padding: 10px 10px;
    text-decoration: none;
    color: rgb(57,19,88);
    font-size: 14pt;
    margin-right: 10px;
    border-radius: 5px;
}
.links:hover{
    background-color:rgb(235, 221, 249);
}
.cartIcon
{
    height: 50%;
    width: 40px;
    padding: 8px 8px;
    border-style: none;
    border-radius: 50%;
    background: transparent;
}
.cartIcon:hover
{
    background-color:rgb(235, 221, 249);
    animation: cartAnimation 1s infinite;
}

@keyframes cartAnimation {
    0%{transform: rotate(180deg);}
    50%{transform: rotate(0deg);}
    100%{transform: rotate(-180deg);}
}