.root_div
{
    height: fit-content;
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}
.products{
    display: flex;
    flex-direction: column;
}
.productgrid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1em;
}

